*{
	box-sizing: border-box;
}
.author,.title{
	text-align:center;
}
.author p,.title p{
<<<<<<< HEAD
	display:inline;
}
=======
		display:inline;
		font-style:italic;
	}
>>>>>>> second
.title{
	text-decoration:underline;
}
.text{
	font-style:italic;
	color:white;
	background:#1f2375;
	width:500px;
}
.verse{
	margin:10px;
}
.verse p{
	margin:0;
}